* {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}
.lt-ie8 * {
        behavior: url(../js/vendor/boxsizing.htc);
}

html {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-size: 16px;
    font-family: Arial, sans-serif;;
    background-image: url('../img/background.png');
    background-position: left top;
    background-repeat: no-repeat;
    
    width: 100%;
    overflow-x: hidden;
    
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease;
    
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1;
    margin: 0px;
}

p {
    margin: 0px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

#logo {
  position: relative;
  padding-top: 77px;
  margin-left: -40px;
  font-family: 'Lato', sans-serif;  
  font-weight: 100;
  font-size: 179px;
  line-height: 0.8;
  text-transform: uppercase;
  color: #fff;
  z-index: 20;
  
  -webkit-transition: font-size 400ms ease, text-shadow 400ms ease;
  -moz-transition: font-size 400ms ease, text-shadow 400ms ease;
  -ms-transition: font-size 400ms ease, text-shadow 400ms ease;
  -o-transition: font-size 400ms ease, text-shadow 400ms ease;
  transition: font-size 400ms ease, text-shadow 400ms ease;
}

#logo:hover {
  text-shadow: 2px 2px 5px #b0aeb8;
  filter: dropshadow(color=#b0aeb8, offx=2, offy=2); 
}

#logo span {
    position: absolute;
    top: 60px;
    right: 10px;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
    color: #b0aeb8;
    font-size: 12px;
    line-height: 1;
    
    -webkit-transition: top 400ms ease, right 400ms ease;
    -moz-transition: top 400ms ease, right 400ms ease;
    -ms-transition: top 400ms ease, right 400ms ease;
    -o-transition: top 400ms ease, right 400ms ease;
    transition: top 400ms ease, right 400ms ease;
}

#logo:hover span{
  text-shadow: 0px 0px 0px #b0aeb8;
  filter: dropshadow(color=#b0aeb8, offx=0, offy=0); 
}

.main-container>.wrapper>section {
    float:left;
    position: relative;
}

#box-model {
    
    width: 100%;
    padding: 0px 10px;
    margin-top: -20px;
    text-align: center;
    color: #6e6c77;
    font-family: 'Lato', serif;
    font-size: 19px;
    z-index: 30;
    
    -webkit-transition: width 400ms ease;
    -moz-transition: width 400ms ease;
    -ms-transition: width 400ms ease;
    -o-transition: width 400ms ease;
    transition: width 400ms ease;
}

#box-model h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
    color: #5f5d66;
    font-size: 36px;
    margin-bottom: 20px;
}

#box-model img {
    position:relative;
    left: 2%;
    max-width:95%;
    
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}


#relatives {
    width: 100%;
    padding: 0px 10px;
    margin: 20px 0px 33px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 25px;
    z-index: 10;
}

#relatives .tagline {
    position:relative;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color:#cbb8a0;
    z-index: 10;
}

#relatives h2{
    position:relative;
    margin-bottom: 27px;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: #fdcd84;
    text-transform: uppercase;
    z-index:10;
}

#relatives p{
    letter-spacing: -1px;
}

#relatives img{
    max-width: 110%;
    margin: 0px 0px 0px -10%;
}

#afloat {
    width: 100%;
    padding: 0px 20px 0px;
    text-align: right;
    color:#464646;
    font-family: 'Lato', serif;
    font-size:14px;
    z-index: 10;
}
#afloat h2 {
    width: 100%;
    margin: 10px 0px;
    color:#24795a;
    font-family: 'Oswald', serif;
    font-size:21px;
    text-align: left;
    
    -webkit-transition: text-align 400ms ease;
    -moz-transition: text-align 400ms ease;
    -ms-transition: text-align 400ms ease;
    -o-transition: text-align 400ms ease;
    transition: text-align 400ms ease;
}

#afloat img {
    max-width: 100%;
    margin-top: 10px;
}

#bullet {
    width: 100%;
}

#bullet h2{
    height: 46px;
    line-height: 46px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 0px;
    color:#a97d35;
    text-align:center;
    font-family: 'Oswald', serif;
    font-size: 15px;
    text-transform: uppercase;
}

#bullet h2 span{
    color:#e0c167;
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 12px;
    vertical-align: top;
}   

#bullet ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#bullet li {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    height: 405px;
    margin: 15px 0px;
    border-right: 1px solid #e5e5e5;
}
#bullet li:last-child {
    border-right: 1px solid transparent;
}
#bullet li:nth-child(3){
    width: 100%;
}

#bullet li .img {
    position: absolute;    
    bottom:115px;
    width: 100%;
    text-align: center;
    z-index: 1;
}
#bullet li:hover img{
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -ms-transition: -ms-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
}
#bullet li:nth-child(3) img{
     -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#bullet li:hover img{
    -webkit-transform: scale(0.9) rotate(30deg);
    -moz-transform: scale(0.9) rotate(30deg);
    -ms-transform: scale(0.9) rotate(30deg);
    -o-transform: scale(0.9) rotate(30deg);
    transform: scale(0.9) rotate(30deg);
}

#bullet li figcaption {
    position: absolute;    
    bottom:0px;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-transform: uppercase; 
    width: 100%;
    text-align: center;
    
    -webkit-transition: color 400ms ease;
    -moz-transition: color 400ms ease;
    -ms-transition: color 400ms ease;
    -o-transition: color 400ms ease;
    transition: color 400ms ease;
}
#bullet li:hover figcaption {
    color: #ccc;
}
#bullet li .russian figcaption {
    font-size: 39px;
}
#bullet li .thumper figcaption {
    font-size: 40px;
}
#bullet li:last-child .thumper figcaption {
    font-size: 32px;
}

#bullet li .type {    
    display:block;
    margin-bottom: 4px;
    font-size: 79px;
    line-height: 1;
    text-transform: none;
}

#bullet li .russian .type {    
    font-size: 31px;
}
#bullet li .thumper .type {    
    font-size: 87px
}
#bullet li .make {    
    display:block;
    font-size: 28px;
    line-height: 1;
}

#bullet li .russian .make {    
    font-size: 40px;
}
#bullet li .thumper .make {    
    font-size: 38px;
}

#bullet li figcaption .unit {    
    text-transform: none; 
}

#famous {
    width: 100%;
    background-color: #71625a;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight :300;
    color: #fff;
}
#famous h2{
    line-height: 70px;
    background-color: #524741;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    text-transform: uppercase;
    
    -webkit-transition: font-size 400ms ease, line-height 400ms ease;
    -moz-transition: font-size 400ms ease, line-height 400ms ease;
    -ms-transition: font-size 400ms ease, line-height 400ms ease;
    -o-transition: font-size 400ms ease, line-height 400ms ease;
    transition: font-size 400ms ease, line-height 400ms ease;
}

#famous img{
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    -ms-transition: top 400ms ease;
    -o-transition: top 400ms ease;
    transition: top 400ms ease;
}

#famous .map iframe {
    display: none;
}

#famous p{
    padding: 0px 25px;
    margin-bottom: 25px;
}
#famous .copyright a,
#famous .copyright{
    font-size: 18px;
    color: rgba(255,255,255, 0.5);
    
}
#famous .copyright a {
    display: inline-block;
    text-decoration:none;
    border: 1px solid transparent;
    -webkit-transition: color 400ms ease, border-color 400ms ease;
    -moz-transition: color 400ms ease, border-color 400ms ease;
    -ms-transition: color 400ms ease, border-color 400ms ease;
    -o-transition: color 400ms ease, border-color 400ms ease;
    transition: color 400ms ease, border-color 400ms ease;
}

#famous .copyright a:hover{
    color: rgba(255,255,255, 1);
    border-bottom-color: #fff;
}

#border-bottom { 
    width: 100%;
    padding: 0px 10px;
    font-family: 'Merriweather', serif;
    font-size: 22px;   
    
    -webkit-transition: padding 400ms ease;
    -moz-transition: padding 400ms ease;
    -ms-transition: padding 400ms ease;
    -o-transition: padding 400ms ease;
    transition: padding 400ms ease;
}
#border-bottom img{ 
    max-width: 110%;
}

#border-bottom h2,     
#border-bottom h3 {
    font-family: 'Oswald', sans-serif;
    border-color: #000;
    border-style: solid;
    border-width: 0px;
        
    -webkit-transition: font-size 400ms ease;
    -moz-transition: font-size  400ms ease;
    -ms-transition: font-size  400ms ease;
    -o-transition: font-size  400ms ease;
    transition: font-size  400ms ease;
}   

#border-bottom h2{     
    border-bottom-width: 20px;
    margin-bottom: 20px;
    line-height: 60px;
    font-size: 41px;
    text-transform: uppercase;
}

#border-bottom h3{
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 16px;
    border-bottom-width: 3px;
    margin-bottom: 16px;
}

#border-bottom p {
    display: inline; 
}

#border-bottom p strong{
    
    font-weight: 900;    
}
#border-bottom p:after{
    content:'';
    display: inline-block;
    text-align:center;
    width: 35px;
    height: 16px;
    font-weight: 900; 
    background-image: url('../img/bullet-point.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#border-bottom article p:last-child:after{
display: none;
}

#movie {
    width: 100%;
    position: relative;
    margin: 80px 0px 25px 0px; 
    padding: 180px 0px 10px;
    background-color:#3a83bb;
    background-image: url('../img/ticket-bottom.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    
    font-family: 'Oswald', sans-serif;

}

#movie .inner{
    padding: 20px 20px 20px 11px;
} 
#movie>.inner{
    border-bottom: 2px dashed rgba(0,0,0,0.4);
} 
.no-rgba #movie>.inner:first-child{
    border-color: #234f70;
} 

#movie h2{
    text-transform: uppercase;
    border-bottom: 8px solid rgba(255,255,255,0.2);
    font-size: 31px;
    text-align: center;
    padding-bottom: 18px;
    margin-bottom: 20px;
    
    -webkit-transition: text-align 400ms ease;
    -moz-transition: text-align  400ms ease;
    -ms-transition: text-align  400ms ease;
    -o-transition: text-align  400ms ease;
    transition: text-align  400ms ease;
}

.no-rgba #movie h2 {
    border-color: #619cc9;
}

#movie h2 span{
    font-size: 21px;
}
#movie  .summary{
    font-family: 'Lora', serif;
    font-size: 16px;
    font-style: italic;
}

#movie .img {
    position: absolute;
    top: -66px;
    width: 100%;
    height: 365px;
}
#movie .rating {
    border-style: solid;
    border-width: 5px 0px;
    border-color: rgba(0,0,0,0.1);
    color:rgba(255,255,255, 0.3);
    font-size: 14px;
    text-transform: uppercase
}
.no-rgba #movie .rating {
    border-color: #3476a8;
    color: #75a8d0;
}

#movie .rating p{
    line-height:1.2;
}
#movie .rating p>span{
    width: 90px;
    margin-right: 5px;
}
#movie .rating .big{
    font-size: 32px;
}
#movie .rating h3 {
    display:none;
}
#movie .rating .percent {
    font-size: 54px;
    line-height:1;
    color: #fff;
    margin: -2px 0px 0px;
}

#movie .rating .bar{
    display:block;
    position:relative;
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.2);
}

.no-rgba #movie .rating .bar{
    background-color: #619cc9;
}

#movie .rating .filling{
    display:block;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    background-color: #fff;
}

#movie .premiere {
    border-top: 2px dashed rgba(0,0,0,0.4);
} 
.no-rgba #movie .premiere{
    border-color: #234f70;
} 

#movie .premiere h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align:center;
    font-size: 14px;
    color: rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
}
.no-rgba #movie .premiere h3{
    color: #619cc9;
    background-color: #619cc9;
}

#movie .premiere h3 span{
    display:inline-block;
    background-color:#3a83bb;
    padding: 0px 10px;
}

#movie .premiere .inner{
    padding-right: 11px;
}
#movie .premiere p{
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1.3;
}
#movie .premiere span{
    display:block;
}
#movie .premiere p .country{
    font-size: 28px;
    color: rgba(255,255,255,0.2);
}
.no-rgba #movie .premiere p .country{
    color: #619cc9;
}
#movie .premiere p .date{
    font-size: 39px;
}

#overflow {
    width: 100%;
    padding: 130px 0px 80px;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-style: italic;
    color: #5e6c74;
    -webkit-transition: padding 400ms ease;
    -moz-transition: padding  400ms ease;
    -ms-transition: padding  400ms ease;
    -o-transition: padding  400ms ease;
    transition: padding  400ms ease;

}
#overflow h2 img{
    position:absolute;
    top:-67px;
    left: -40px;
    
    -webkit-transition: top 400ms ease;
    -moz-transition: top  400ms ease;
    -ms-transition: top  400ms ease;
    -o-transition: top  400ms ease;
    transition: top  400ms ease;
}
#overflow .content {
    padding: 0px 10px;
}
#overflow .content p{
    max-width: 730px;
    clear: both;
    margin-bottom: 5%;
    -webkit-transition: margin 400ms ease;
    -moz-transition: margin  400ms ease;
    -ms-transition: margin  400ms ease;
    -o-transition: margin  400ms ease;
    transition: margin  400ms ease;
}
#overflow .content p:nth-child(3n+1){
    float: right;
    text-align: right;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
    
}
#overflow .content p:nth-child(3n+2){
    margin-bottom: 40px;
    
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    transform:rotate(-2deg);
}
#overflow .content p:nth-child(3n+3){
    padding-left: 110px;
    -webkit-transform:rotate(1deg);
    -moz-transform:rotate(1deg);
    -o-transform:rotate(1deg);
    transform:rotate(1deg);
}

#footer {
    width: 100%;
    padding: 23px 10px 60px;
    border-top: 1px solid #e5e5e5;
    overflow:hidden;
    
    color:#8c8c8c;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    
    -webkit-transition: padding 400ms ease;
    -moz-transition: padding  400ms ease;
    -ms-transition: padding  400ms ease;
    -o-transition: padding  400ms ease;
    transition: padding  400ms ease;
}

#footer strong{
    font-weight: normal;
    color: #000;
}
    

#footer .author {
    float: right;
    text-align: right;
    color: #989898;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 13px;
}
#footer .author .name{
    font-weight: 900;
}
#footer .author .line{
    display:block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== 
*/
@media only screen and (min-width: 480px) {
    #afloat p {
        float: left;
        max-width: 65%;
    }
        #logo {
        font-size: 279px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-position: center top;
    }
    
    #logo span {
        top: 100px;
    }
    
    #box-model {
        margin: 330px 0px 0px;
        width: 42%;
    }
    
    #box-model img {
        position:absolute;
        top: -360px;
        left: -10%;
        max-width:100%
    }
    
    #relatives {
        width: 58%;
        padding: 0px 0px 0px 54px;
        margin-top: 5%;
    }
    
    #relatives img{
        position:absolute;
        left: -100px;
        margin: 0px;
        max-width: 160%;
        bottom: 66%;
        z-index:1;
    }
    
    #afloat {
        width: 17%;
        padding: 0px 20px 195px;
    }
    
    #afloat img {
        position: absolute;
        bottom: -20px;
        left: 0px;
        max-width: 110%;
    }
    
    #afloat h2 {
        text-align: right;
    }
    #afloat p {
        float: none;
        max-width: 100%;
    }
    
    #famous h2{
        line-height: 120px;
        font-size: 49px;
    }
    
    #bullet {
        width: 83%;
    }
    #bullet h2 {
        margin: 0px 20px 0px 0px;
    }
    
    #border-bottom { 
        width: 60%;
    }
    
    #border-bottom h2{     
        font-size: 61px;
        line-height: 80px;
    }
    
    #movie h2 span{
        display: block;
    }
    
    #border-bottom h3{     
        font-size: 35px;
    }
    
    #movie {
        float:right;
        width: 36%;
        margin: 15px 0px 25px 0px;
    }
    
    #movie .rating p>span{
        float: left;
    }
    #movie .rating p{
        text-align: right;
    }
    
    #movie .rating .percent {
        margin: -2px 0px 0px 10px;
    }
    
    #overflow {
        padding: 170px 0px 80px;
    }
    
    #overflow h2 img{
        top:-40px;
    }

   
}

@media only screen and (min-width: 960px) {
    #famous .map {
        position: relative;
        width: 960px;
        height: 637px;
        overflow:hidden;
    }
    #famous .map img {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
    #famous .map:hover img {
        top: -637px;
    }
    #famous .map iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        z-index: 1;
    }
    #famous .map:hover img {
        top: -637px;
    }
}
@media only screen and (min-width: 1024px) {
     #logo span {
        right: 0px;
    }
    
    #bullet h2 {
        margin: 0px;
    }
    
    #bullet li:nth-child(n) {
        width: 20%;
    }
    
    #bullet li:nth-child(3) img{
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       transform: rotate(0deg);
   }
    #bullet li:nth-child(3):hover img{
       -webkit-transform: scale(0.9) rotate(30deg);
       -moz-transform: scale(0.9) rotate(30deg);
       -ms-transform: scale(0.9) rotate(30deg);
       -o-transform: scale(0.9) rotate(30deg);
       transform: scale(0.9)  rotate(30deg);
   }
    
    #border-bottom { 
        width: 75%;
        padding:0px 11px 0px 0px;
    }
    
    #border-bottom h2{     
        font-size: 82px;
        line-height: 120px;
    }
    
    #border-bottom h3{     
        font-size: 39px;
    }
    #movie {
        width: 23.4%;
        text-align: left;
    }
    #movie h2{
        text-align: justify;
    }

    #movie .img {
        left: -33px;
    }
    
    #movie .premiere p{
        text-align: justify;
    }
    #movie .rating .percent {
        margin: -2px 0px 0px;
    }
    
    #overflow {
        padding: 130px 0px 80px;
    }
    
    #overflow h2 img{
        top:-67px;
    }

    #overflow .content p:nth-child(3n+1){
        margin-bottom: 20px;
    }
    
    
    #footer {
        padding: 23px 0px 60px;
    }

}
@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
