* {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}
.lt-ie8 * {
        behavior: url(../js/vendor/boxsizing.htc);
}

html {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-size: 16px;
    font-family: Arial, sans-serif;;
    background-image: url('../img/background.png');
    background-position: center top;
    background-repeat: no-repeat;
    
    width: 100%;
    overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1;
    margin: 0px;
}

p {
    margin: 0px;
}

/*font-family: 'Lora', serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    
    border: 1px solid red;
    border-width: 0px 1px;
}

#logo {
  position: relative;
  padding-top: 77px;
  margin-left: -40px;
  font-family: 'Lato', sans-serif;  
  font-weight: 100;
  font-size: 279px;
  line-height: 0.8;
  text-transform: uppercase;
  color: #fff;
  z-index: 20;
}

#logo span {
    position: absolute;
    top: 100px;
    right: 0px;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
    color: #b0aeb8;
    font-size: 12px;
    line-height: 1;
}

.main-container>.wrapper>section {
    float:left;
    position: relative;
}

#box-model {
    margin-top: 330px;
    /*width: 400px;*/
    width: 42%;
    padding: 0px 10px;
    text-align: center;
    color: #6e6c77;
    font-family: 'Lato', serif;
    font-size: 19px;
    z-index: 30;
}

#box-model h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
    color: #5f5d66;
    font-size: 36px;
    margin-bottom: 20px;
}

#box-model img {
    position:absolute;
    top: -360px;
    left: -10%;
}


#relatives {
    /*width: 560px;*/
    width: 58%;
    padding-left: 54px;
    margin: 5% 0px 33px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 25px;
    z-index: 10;
}

#relatives .tagline {
    position:relative;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color:#cbb8a0;
    z-index: 10;
}

#relatives h2{
    position:relative;
    margin-bottom: 27px;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: #fdcd84;
    text-transform: uppercase;
    z-index:10;
}

#relatives p{
    letter-spacing: -1px;
}

#relatives img{
    position:absolute;
    bottom: 66%;
    left: -80px;
    max-width: 160%;
    z-index:1;
}

#afloat {
    /*width: 160px;*/
    width: 17%;
    padding: 0px 20px 195px;
    text-align: right;
    color:#464646;
    font-family: 'Lato', serif;
    font-size:14px;
    z-index: 10;
}
#afloat h2 {
    margin: 10px 0px;
    color:#24795a;
    font-family: 'Oswald', serif;
    font-size:21px;
}
#afloat img {
    position: absolute;
    bottom: -20px;
    left: 0px;
    max-width: 110%;
}

#bullet {
    /*width: 800px;*/
    width: 83%;
}

#bullet h2{
    height: 46px;
    line-height: 46px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 0px;
    color:#a97d35;
    text-align:center;
    font-family: 'Oswald', serif;
    font-size: 15px;
    text-transform: uppercase;
}

#bullet h2 span{
    color:#e0c167;
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 12px;
    vertical-align: top;
}   

#bullet ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#bullet li {
    position: relative;
    display: inline-block;
    float: left;
    width: 20%;
    height: 420px;
}

#bullet li .img {
    position: absolute;    
    bottom:115px;
    width: 100%;
    text-align: center;
    z-index: 1;
}
#bullet li figcaption {
    position: absolute;    
    bottom:0px;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-transform: uppercase; 
}
#bullet li .russian figcaption {
    font-size: 39px;
}
#bullet li .thumper figcaption {
    font-size: 40px;
}
#bullet li:last-child .thumper figcaption {
    font-size: 32px;
}

#bullet li .type {    
    display:block;
    margin-bottom: 4px;
    font-size: 79px;
    line-height: 1;
    text-transform: none;
}

#bullet li .russian .type {    
    font-size: 31px;
}
#bullet li .thumper .type {    
    font-size: 87px
}
#bullet li .make {    
    display:block;
    font-size: 28px;
    line-height: 1;
}

#bullet li .russian .make {    
    font-size: 40px;
}
#bullet li .thumper .make {    
    font-size: 38px;
}

#bullet li figcaption .unit {    
    text-transform: none; 
}

#famous {
    width: 100%;
    background-color: #71625a;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight :300;
    color: #fff;
}
#famous h2{
    height: 120px;
    line-height: 120px;
    background-color: #524741;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 49px;
    text-transform: uppercase;
}
#famous img{
    max-width: 100%;
    margin-bottom: 20px;
}
#famous p{
    padding: 0px 25px;
    margin-bottom: 25px;
}
#famous .copyright a,
#famous .copyright{
    font-size: 18px;
    color: rgba(255,255,255, 0.5);
    
}
#famous .copyright a {
    display: inline-block;
    text-decoration:none;
    border: 1px solid transparent;
    -webkit-transition: color 500ms ease, border-color 500ms ease;
    -moz-transition: color 500ms ease, border-color 500ms ease;
    -ms-transition: color 500ms ease, border-color 500ms ease;
    -o-transition: color 500ms ease, border-color 500ms ease;
    transition: color 500ms ease, border-color 500ms ease;
}

#famous .copyright a:hover{
    color: rgba(255,255,255, 1);
    border-bottom-color: #fff;
}

#border-bottom { 
    /*width: 720px;*/
    width: 75%;
    padding-right: 11px;
}
#border-bottom img{ 
    max-width: 110%;
}

#border-bottom h2,     
#border-bottom h3 {
    font-family: 'Oswald', sans-serif;
    border-color: #000;
    border-style: solid;
    border-width: 0px
}   

#border-bottom h2{     
    border-bottom-width: 20px;
    margin-bottom: 20px;
    line-height: 120px;
    font-size: 82px;
    text-transform: uppercase;
}

#border-bottom h3{
    font-size: 39px;
    line-height: 1.2;
    padding-bottom: 16px;
    border-bottom-width: 3px;
    margin-bottom: 16px;
}

#border-bottom p {
    display: inline;
    font-family: 'Merriweather', serif;
    font-size: 22px;    
}

#border-bottom p strong{
    
    font-weight: 900;    
}
#border-bottom p:after{
    content:'';
    display: inline-block;
    text-align:center;
    width: 35px;
    height: 16px;
    font-weight: 900; 
    background-image: url('../img/bullet-point.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#border-bottom article p:last-child:after{
display: none;
}

#movie {
    /*width: 225px;*/
    width: 23.4%;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    background-color:#3a83bb;
    color: #fff;
    padding-top: 180px;
    
    font-family: 'Oswald', sans-serif;
}

#movie .inner{
    padding: 20px 20px 20px 11px;
} 
#movie>.inner{
    border-bottom: 2px dashed rgba(0,0,0,0.4);
} 
.no-rgba #movie>.inner:first-child{
    border-color: #234f70;
} 

#movie h2{
    text-transform: uppercase;
    border-bottom: 8px solid rgba(255,255,255,0.2);
    font-size: 31px;
    text-align: justify;
    padding-bottom: 18px;
    margin-bottom: 20px;
}

.no-rgba #movie h2 {
    border-color: #619cc9;
}

#movie h2 span{
    font-size: 21px;
}
#movie  .summary{
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    font-style: italic;
}

#movie img {
    position: absolute;
    top: -66px;
    left: -33px
}
#movie .rating {
    border-style: solid;
    border-width: 5px 0px;
    border-color: rgba(0,0,0,0.1);
    color:rgba(255,255,255, 0.3);
    font-size: 14px;
    text-transform: uppercase
}
.no-rgba #movie .rating {
    border-color: #3476a8;
    color: #75a8d0;
}

#movie .rating p{
    line-height:1.2;
    text-align: right;
}
#movie .rating p>span{
    width: 90px;
    float: left;
    margin-right: 5px;
}
#movie .rating .big{
    font-size: 32px;
}
#movie .rating h3 {
    display:none;
}
#movie .rating .percent {
    font-size: 54px;
    line-height:1;
    color: #fff;
}

#movie .rating .bar{
    display:block;
    position:relative;
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.2);
}

.no-rgba #movie .rating .bar{
    background-color: #619cc9;
}

#movie .rating .filling{
    display:block;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    background-color: #fff;
}

#movie .premiere {
    border-top: 2px dashed rgba(0,0,0,0.4);
} 
.no-rgba #movie .premiere{
    border-color: #234f70;
} 

#movie .premiere h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align:center;
    font-size: 14px;
    color: rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
}
.no-rgba #movie .premiere h3{
    color: #619cc9;
    background-color: #619cc9;
}

#movie .premiere h3 span{
    display:inline-block;
    background-color:#3a83bb;
    padding: 0px 10px;
}

#movie .premiere .inner{
    padding-right: 11px;
}
#movie .premiere p{
    text-align: justify;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1.3;
}
#movie .premiere span{
    display:block;
}
#movie .premiere p .country{
    font-size: 28px;
    color: rgba(255,255,255,0.2);
}
.no-rgba #movie .premiere p .country{
    color: #619cc9;
}
#movie .premiere p .date{
    font-size: 39px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== 

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
